<br>
    <video class="home_video" loop preload autoplay muted>
      <source src="http://www.qemotion.com/i/tricksofthetradehd.mp4" type="video/mp4">
      <source src="http://www.qemotion.com/i/tricksofthetradehd.webm" type="video/webm">
      <source src="http://www.qemotion.com/i/tricksofthetradehd.ogg" type="video/ogg">
      Sorry, your browser does not support HTML5...
    </video>
    <div class="video-overlay"></div>


<form>
  <fieldset>
    <div class="container">
      <div class="row first-view"> <br>
        <h2>Book your yacht,now!</h2>


          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">&nbsp;Start Date &nbsp;</span>
            <input type="Date" class="form-control" name="start_date_search" placeholder= <%= Time.now  %> aria-describedby="basic-addon1">
            <span class="input-group-addon" id="basic-addon1">&nbsp;End Date &nbsp;</span>
            <input type="Date" class="form-control" name="end_date_search" placeholder="End Date" aria-describedby="basic-addon1">
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">&nbsp;Capacity&nbsp; </span>
            <input type="text" class="form-control" name="capacity_search" placeholder="Capacity" aria-describedby="basic-addon1">
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">&nbsp;Harbour&nbsp;</span>
            <input type="text" class="form-control" name="harbour_search" placeholder="Harbour" aria-describedby="basic-addon1">
          </div>
          <br>

            <br>
            <input type="submit" class="btn btn-info" placeholder="Validate">
          </fieldset>
        </form>
      </div>
    </div>

<!-- Reminder -->
  <!-- <textarea></textarea> -->
 <!--  input type="button" value="Input Button">
    <input type="checkbox">

    <input type="file">
    <input type="hidden">
    <input type="image">

    <input type="password">
    <input type="radio">
    <input type="reset">

    <input type="submit">
    <input type="text"> -->
    <!-- <select>
      <option>Option</option>
    </select> -->
