

<h1>Book a bling bling boat</h1>

<br>


<form>
  <fieldset>


  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Start Date</span>
    <input type="Date" class="form-control" name="start_date_search" placeholder= <%= Time.now  %> aria-describedby="basic-addon1">
  </div>
   <br>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">End Date</span>
    <input type="Date" class="form-control" name="end_date_search" placeholder="End Date" aria-describedby="basic-addon1">
  </div>
  <br>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Capacity</span>
    <input type="text" class="form-control" name="capacity_search" placeholder="Capacity" aria-describedby="basic-addon1">
  </div>
  <br>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Harbour</span>
    <input type="text" class="form-control" name="harbour_search" placeholder="Harbour" aria-describedby="basic-addon1">
  </div>
  <br>




    <br>
    <input type="submit" class="btn btn-info" placeholder="Validate">
  </fieldset>
</form>



<!-- Reminder -->
  <!-- <textarea></textarea> -->
 <!--  input type="button" value="Input Button">
    <input type="checkbox">

    <input type="file">
    <input type="hidden">
    <input type="image">

    <input type="password">
    <input type="radio">
    <input type="reset">

    <input type="submit">
    <input type="text"> -->
    <!-- <select>
      <option>Option</option>
    </select> -->
