<!--CONTACT-->

<br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

  <section class="contact-wrap" id="contact">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center">

          <div class="definition">
          <p>Sail anywhere in the world, have the luxury of a yatch whenever you want it
            <BR> All the boating, none of the hassle!
              <BR> Boat and Bling!</p>
          </div>


        </div>
      </div>
      <div class="row contact-visit">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">

            <h1>Write Us</h1>
            <form action="contact_me.php" id="contact-form" method="POST" class="contact-form">
              <div class="input-group col-lg-12">
                <input type="text" class="form-control text" id="contact-name" name="contact-name" placeholder="Name">
              </div>
              <div class="input-group col-lg-12">
                <input type="text" class="form-control email-add" id="contact-email" name="contact-email" placeholder="Email">
              </div>
              <div class="input-group col-lg-12">
                <textarea class="form-control textarea" id="contact-message" name="contact-message" placeholder="Message"></textarea>
              </div>
              <button id="contact-submit" class="submit-button">
                <span class="span1">&#8594;</span>
                <span class="span2">Send</span>
              </button>

              <div id="result"></div>
            </form>
            <P>


          </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
          <div class="address">
            <h1>Visit Us</h1>
            <p>Bling Bling corp.
              <BR> 5 Place Sainte-Gudule
              <BR> 1000 Brussels
              <BR> BE
              <BR>
            </p>
            <p><a href="callto:33325831010">+33 (0)3.25.83.10.10</a>
            </p>
            <p><a href="mailto:support@qemotion.com">contact@blingbling.com</a>
            </p>
        </div>
      </div>
    </div>



        <div class="social-buttons">

            <a href="https://www.linkedin.com/company/qemotion" target="_blank" class="social-btn"><i class="fa fa-linkedin"></i></a>

            <a href="https://twitter.com/qemotionapp" target="_blank" class="social-btn"><i class="fa fa-twitter"></i></a>

            <a href="https://www.facebook.com/qemotionproject" target="_blank" class="social-btn"><i class="fa fa-facebook"></i></a>

        </div>



  </section>


  <!-- /CONTACT -->



