<!--CONTACT-->
  <section class="contact-wrap" id="contact">
              <br>          <br>          <br>          <br>          <br>          <br>          <br>          <br>          <br>          <br>          <br>          <br>          <br>          <br>          <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 align-center">

          <h1 class="arrow">Contact & Feedback</h1>
          <p>Tu souhaites prendre contact avec nous, nous faire part de tes avis et commentaires ?
            <BR> Laisse-nous un message par email en indiquant tes coordonnées.</p>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8 no-padding">
          <div class="col-lg-12 col-md-8 col-sm-6 col-xs-12 no-padding">
            <h1>Nous écrire</h1>
            <form action="contact_me.php" id="contact-form" method="POST" class="contact-form">
              <div class="input-group col-lg-12">
                <input type="text" class="form-control text" id="contact-name" name="contact-name" placeholder="Nom">
              </div>
              <div class="input-group col-lg-12">
                <input type="text" class="form-control email-add" id="contact-email" name="contact-email" placeholder="Email">
              </div>
              <div class="input-group col-lg-12">
                <textarea class="form-control textarea" id="contact-message" name="contact-message" placeholder="Message"></textarea>
              </div>
              <button id="contact-submit" class="submit-button">
                <span class="span1">&#8594;</span>
                <span class="span2">Envoyer</span>
              </button>

              <div id="result"></div>
            </form>
            <P>
              <br>
              <br>
              <br>
              <br>
              <h1>En savoir plus</h1>


              <a href="mailto:contact@qemotion.com">Votre Feedback</a>
              <br>
              <a href="http://qemotion.com/careers" target="_blank">Nous recrutons!</a>
              <br>
               <a href="http://www.qemotion.com/credits">Crédits</a>
              <br>
              <a href="http://www.qemotion.com/conditions">CGU</a>
              <br>
              <a href="http://www.qemotion.com/privacy">Confidentialité des données</a>
              <br>
              <a href="http://www.qemotion.com/conditions/mentions_legales.html">Mentions légales</a>

          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 no-padding">
          <div class="address">
            <h1>Adresse</h1>
            <p>Bling Bling corp.
              <BR> 5 place Ste Gudule
              <BR> BRUSSELS
              <BR> CS 90601
              <BR> BE
              <BR>
            </p>
            <p><a href="callto:33325831010">+33 (0)3.25.83.10.10</a>
            </p>
            <p><a href="mailto:support@qemotion.com">contact@blingbling.com</a>
            </p>
          </div>
          <ul class="social-buttons">
            <li><a href="https://www.linkedin.com/company/qemotion" target="_blank" class="social-btn"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="https://twitter.com/qemotionapp" target="_blank" class="social-btn"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://www.facebook.com/qemotionproject" target="_blank" class="social-btn"><i class="fa fa-facebook"></i></a>
            </li>


          </ul>
          <P>
          </p>
        </div>
      </div>
      <div class="row made-in">
        <div class="col-lg-12 multia">
          <span><a href="http://www.qemotion.com" target="_blank" title="Bling bling">Bling Bling Corp.</a></span>
        </div>
      </div>
  </section>


  <!-- /CONTACT -->



