// Your footer style

/************************************/
/** Footer **/
/************************************/
.row.made-in {
    padding-top: 20px;
    float: right;
}
.social-btn {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;

}
.col-lg-12.multia {
  float: left;
}

*, *:after, *:before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.multia  span {
    color: #ffffff;
    letter-spacing: 1px;
    font-family: 'Verdana', sans-serif;
    font-style: regular;
    text-align: -webkit-right;;
  font-size: 14px;
    font-weight: 400;
}

.definition {
    text-align: center;
}
